@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans Mono", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .modal {
    @apply hidden bg-black/5 backdrop-blur-sm open:grid absolute top-0 left-0 h-screen w-screen place-items-center;
  }
}
